.js-edit-compare td.tec-selected {
  background-color: #789d4a;
  color: #fff;
}

.tec-data-inputs {
  display: none;
}

.tec-data-inputs .tec-input {
  display: block;
  width: 100%;
}

td.tec-editing {
  background-color: #00d !important;
}

td.tec-editing .tec-data-display {
  display: none;
}

td.tec-editing .tec-data-inputs {
  display: block;
}

.js-edit-compare th {
  position: relative;
}

.js-edit-compare th a {
  cursor: pointer;
  line-height: 1em;
  position: absolute;
  right: 10px;
  text-decoration: underline !important;
  top: 1em;
}

.tec-edit-field .tec-save-link {
  display: none;
}

.tec-edit-field.tec-editing .tec-edit-link {
  display: none;
}

.tec-edit-field.tec-editing .tec-save-link {
  display: inline;
}
